annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
av==12.3.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
coloredlogs==15.0.1
ctranslate2==4.7.1
dnspython==2.8.0
email-validator==2.3.0
exceptiongroup==1.3.1
fastapi==0.111.0
fastapi-cli==0.0.24
faster-whisper==1.0.3
filelock==3.20.3
flatbuffers==25.12.19
fsspec==2026.1.0
h11==0.16.0
hf-xet==1.4.2
httpcore==1.0.9
httptools==0.7.1
httpx==0.27.0
huggingface_hub==1.7.1
humanfriendly==10.0
idna==3.11
Jinja2==3.1.6
llvmlite==0.46.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
more-itertools==10.8.0
mpmath==1.3.0
networkx==3.4.2
numba==0.63.1
numpy==2.2.6
nvidia-cublas-cu12==12.9.2.10
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cudnn-cu12==9.22.0.52
onnxruntime==1.23.2
openai-whisper==20250625
orjson==3.11.7
packaging==26.0
pillow==12.1.0
protobuf==7.34.0
pydantic==2.7.0
pydantic_core==2.18.1
Pygments==2.19.2
pyreadline3==3.5.4
python-dotenv==1.0.1
python-multipart==0.0.22
PyYAML==6.0.3
regex==2026.1.15
requests==2.32.5
rich==14.3.3
rich-toolkit==0.19.7
shellingham==1.5.4
sniffio==1.3.1
starlette==0.37.2
sympy==1.14.0
tiktoken==0.12.0
tokenizers==0.22.2
tomli==2.4.0
torch==2.10.0
torchaudio==2.10.0
torchvision==0.25.0
tqdm==4.67.1
typer==0.24.1
typing_extensions==4.15.0
ujson==5.12.0
urllib3==2.6.3
uvicorn==0.29.0
watchfiles==1.1.1
websockets==16.0